<template lang="pug">

	#home
		QueryBuilder

</template>

<script>
import QueryBuilder from '../components/QueryBuilder.vue'
// SI SE VAN A COMENTAR LOS IMPORTS SE TIENEN QUE PONER DEBAJO DE LOS QUE NO ESTAN COMENTADOS
// import db from '../firebase/init'
// import axios from 'axios'

export default {
	name: 'home',

	components: {
		QueryBuilder,
	},

	data(){
		return{
		}
	},

	methods:{
	},
	
	computed:{
	},

	created(){
	},

	mounted(){
	}

}
</script>

<style lang="sass">

</style>