<template lang="pug">
				
.rule__container(v-if="filters")


	.rule__filter
		select(v-model="ruleFilter")
			option(v-for="(filter,index) in filters",:value="index",:key="filter.id") {{filter.label}}

	.rule__operator
		select(v-if="filters[ruleFilter].operators", v-model="ruleOperator")
			option(
				v-for="operatorKey in filters[ruleFilter].operators"
				:value="operatorKey"
				:key="'operator-'+operatorKey"
			) {{operators[operatorKey].type}}

		select(v-else, v-model="ruleOperator")
			option(
				v-for="operatorKey in cmpOperators"
				:value="operatorKey"
				:key="'operator-'+operatorKey"
			) {{operators[operatorKey].type}}
			//- span {{operators[ruleOperator]}}


	.rule__value(v-if="ruleOperator")
		.rule__value--text(
			v-if="filters[ruleFilter].input == 'text'"
			v-for="index in operators[ruleOperator].nb_inputs"
			:key="'value-'+index"
		)
			input(type="text",v-model="ruleValue")

		.rule__value--radio(v-else-if="filters[ruleFilter].input == 'radio'")
			.radio-container(v-for="(value,key) in filters[ruleFilter].values",:key="value")
				input(
					type="radio"
					v-model="ruleValue"
					:value="key"
					:id="value"
				)
				label(:for="value") {{value}}

		.rule__value--select(v-else-if="filters[ruleFilter].input == 'select'")
			select(v-model="ruleValue")
				option(
					v-for="value in filters[ruleFilter].values"
					:value="value"
					:key="value"
				) {{value}}	

	
		//- span {{finalRule}}
		//- span {{cmpOperators}}
		

</template>

<script>
export default {
	name: "QueriRule",
	props: [
		"filters",
		"rulekey",
		"operators"
	],
	data(){
		return{
			ruleFilter: 0,
			ruleOperator: null,
			ruleValue: null,
			finalRule: null
		}
	},
	watch:{
		ruleFilter(){
			this.defaultValues()
		},
		ruleOperator(){
			this.emitRule()
		},
		ruleValue(){
			this.emitRule()
			this.buildFilter()
		},
		filters(){
			this.defaultValues()
		}
	},
	methods:{
		maoma(){
			
		},

		buildFilter(){
			let app = this
			app.finalRule = app.filters[app.ruleFilter].id + " " + app.operators[app.ruleOperator].value + " '" + app.ruleValue + "'"
		},
		defaultValues(){
			let app = this
			if (app.filters[app.ruleFilter].operators) {
				app.ruleOperator = app.filters[app.ruleFilter].operators[0]
			} else {
				app.ruleOperator = Object.keys(app.operators)[0]
			}

			this.ruleValue = undefined
		},

		emitRule(){
			this.$emit('ruleChange', {
				ruleKey: this.rulekey,
				filter: this.ruleFilter,
				operator: this.ruleOperator,
				value: this.ruleValue
			})
		}
		
	},
	computed:{
		cmpOperators(){
			let app = this
			let keys = Object.keys(app.operators)

			let string = app.filters[app.ruleFilter].type.toString()
			console.log(app.filters[app.ruleFilter].type);
			
			return keys.filter((element,index,array) => app.operators[element].apply_to.indexOf(app.filters[app.ruleFilter].type) > -1);
		},
		queryListener(){
			let app = this
			app.ruleFilter
			
		}
	},
	updated() {
		
	},
	created() {
	},
	mounted() {
		this.emitRule()

		this.$nextTick()
			.then( () => {
				this.defaultValues()
			})
	},
}
</script>

<style lang="sass">

</style>
