<template lang="pug">

	#querynode.rule-group__container
		.rules__header
			.rules__header__controls(v-if="conditionStream")
				button.btn-condition.btn-condition--selected.btn-condition-desabled {{conditionStream}}
			.rules__header__controls(v-else)
				button.btn-condition(@click.prevent="condition = 'and'",:class="{'btn-condition--selected' : condition == 'and'}") AND
				button.btn-condition(@click.prevent="condition = 'or'",:class="{'btn-condition--selected' : condition == 'or'}") OR
				//- button.btn-condition(@click.prevent="or = !or",:class="{'btn-condition--selected' : or}") OR

			.rules__header__controls
				button.btn-add(@click.prevent="addRules('rule')") Add Rule
				button.btn-add(@click.prevent="addRules('group')",v-if="addGroupStream") Add Group
				button.btn-delete(v-if="deleteBtn",@click.prevent="emitDeleteGroup(key)")
					img(src="img/close.svg")
				
		.q__body
			.rule__list
				.rule__item(v-for="(rule,key,index) in rules",:key="'rule-'+index")

					.rule(v-if="rule.type == 'rule'")
						QueryRule(:filters="filters",:rulekey="key",@ruleChange="reciveRule",:operators="operators")

						.rule__action
							button.btn-delete(@click.prevent="deleteRule(key)")
								img(src="img/close.svg")


					.rule-group(v-if="rule.type == 'group'")
						QueriGroup(
							:rulekey="key"
							:filters="filters"
							:operators="operators"
							@groupChange="reciveGroup"
							@deleteGroup="deleteRule(key)"
							:deleteBtn="true"
							:addGroupStream="false"
							:conditionStream="'or'"
						)


	

</template>

<script>
import QueryRule from './QueryRule.vue'
export default {
	name: "QueriGroup",
	components:{
		QueryRule
	},
	props: [
		"filters",
		"rulekey",
		"deleteBtn",
		"operators",
		"conditionStream",
		"addGroupStream"
	],
	data(){
		return{
			condition: "and",
			or: false,
			rules:{
				rule0: {
					type: "rule",
				}
			},
			queryObj:{}
		}
	},
	watch:{
		condition(){
			this.emitGroup()
		}
	},
	methods:{
		reciveGroup(groupValue){
			this.$set(this.queryObj,groupValue.ruleKey,groupValue)
			this.emitGroup()
		},

		reciveRule(ruleValue){
			// console.log(ruleValue.ruleKey + ", " + ruleValue.filter + ", " + ruleValue.operator + ", " + ruleValue.value);
			this.$set(this.queryObj,ruleValue.ruleKey,ruleValue)
			this.emitGroup()
		},

		emitGroup(){
			if (this.conditionStream != null) {
				this.condition = this.conditionStream
			}
			this.$emit('groupChange', {
				ruleKey: this.rulekey,
				condition: this.condition,
				queryobj: this.queryObj
			})
		},

		emitDeleteGroup(key){
			this.$emit('deleteGroup',key)
		},

		addRules(type){
			let app = this
			let count = Object.keys(app.rules).length
			let newKey = "rule" + (count + 1)
			let newObj =  {
				type: type,
			}
			app.$set(app.rules,newKey,newObj)
		},
		
		deleteRule(key){
			let app = this
			app.$delete(app.rules,key)
			app.$delete(app.queryObj,key)
			this.emitGroup()
		}
		
	},
	created() {
	},
	updated() {
	}
}
</script>

<style lang="sass">

</style>
