<template lang="pug">
	.query-string
		//- span {{queryStream}}
		//- span {{Object.keys(queryStream.queryobj).length}}

		.strng(v-for="(query,key,index) in queryStream.queryobj",:key="query.key")
			
			.strng__group(v-if="query.condition")
				QueryString(:queryStream="query",:filters="filters",:operators="operators")
			
			.strng__rule(v-else)
				span {{filters[query.filter].label}}
				span(v-if="query.operator")  	{{operators[query.operator].value}} 
				span '{{query.value}}'

			.strng__condition(v-if="index != Object.keys(queryStream.queryobj).length -1")
				span {{queryStream.condition}}

</template>

<script>
export default {
	name: "QueryString",
	props: [
		"queryStream",
		"filters",
		"operators"
	],
	data(){
		return{
		}
	},
	watch:{
	},
	methods:{
	},
	updated() {
	},
	created() {
	},
	mounted() {
	},
}
</script>

<style lang="sass">

</style>
