<template lang="pug">

	#querybuilder.query-builder
		QueryGroup(
			:filters="filters"
			:operators="operators"
			@groupChange="reciveGroup"
			:deleteBtn="false"
			:addGroupStream="true"
			:conditionStream="'and'"
		)

		.final-query
			QueryString(
				v-if="finalQuery"
				:queryStream="finalQuery"
				:filters="filters"
				:operators="operators"
			)
			
</template>

<script>
import QueryGroup from './QueryGroup.vue'
import QueryString from './QueryString.vue'
export default {
	name: "QueriBuilder",
	components: {
		QueryGroup,
		QueryString
	},
	data(){
		return{
			filters: [
				{
					"id": "name",
					"label": "TradeId",
					"type": "string",
					"input": "text",
					"operators": false
				},
				{
					"id": "category",
					"label": "Category",
					"type": "integer",
					"input": "select",
					"values": {
						"1": "Books",
						"2": "Movies",
						"3": "Music",
						"4": "Tools",
						"5": "Goodies",
						"6": "Clothes"
					},
					"operators": [
						"equal",
						"not_equal",
						"in",
						"not_in",
						"is_null",
						"is_not_null"
					]
				},
				{
					"id": "in_stock",
					"label": "In stock",
					"type": "integer",
					"input": "radio",
					"values": {
						"1": "Yes",
						"0": "No"
					},
					"operators": [
						"equal"
					]
				},
				{
					"id": "price",
					"label": "Price",
					"type": "double",
					"validation": {
						"min": 0,
						"step": 0.01
					}
				}
			],
			operators:{
				equal:            { value: "=",											type: "equal",            nb_inputs: 1, multiple: false, apply_to: ["string", "number", "datetime", "boolean"] },
				not_equal:        { value: "!=",										type: "not_equal",        nb_inputs: 1, multiple: false, apply_to: ["string", "number", "datetime", "boolean"] },
				in:               { value: "IN",										type: "in",               nb_inputs: 1, multiple: true,  apply_to: ["string", "number", "datetime"] },
				not_in:           { value: "NOT IN",								type: "not_in",           nb_inputs: 1, multiple: true,  apply_to: ["string", "number", "datetime"] },
				begins_with:      { value: "LIKE(''%)",							type: "begins_with",      nb_inputs: 1, multiple: false, apply_to: ["string"] },
				not_begins_with:  { value: "NOT LIKE(''%)",					type: "not_begins_with",  nb_inputs: 1, multiple: false, apply_to: ["string"] },
				contains:         { value: "LIKE(%''%)",						type: "contains",         nb_inputs: 1, multiple: false, apply_to: ["string"] },
				not_contains:     { value: "NOT LIKE(%''%)",				type: "not_contains",     nb_inputs: 1, multiple: false, apply_to: ["string"] },
				ends_with:        { value: "LIKE(%'')",							type: "ends_with",        nb_inputs: 1, multiple: false, apply_to: ["string"] },
				not_ends_with:    { value: "NOT LIKE(%'')",					type: "not_ends_with",    nb_inputs: 1, multiple: false, apply_to: ["string"] },
				is_empty:         { value: "= ''",									type: "is_empty",         nb_inputs: 0, multiple: false, apply_to: ["string"] },
				is_not_empty:     { value: "!= ''",									type: "is_not_empty",     nb_inputs: 0, multiple: false, apply_to: ["string"] },
				is_null:          { value: "IS NULL",								type: "is_null",          nb_inputs: 0, multiple: false, apply_to: ["string", "number", "datetime", "boolean"] },
				is_not_null:      { value: "IS NOT NULL",						type: "is_not_null",      nb_inputs: 0, multiple: false, apply_to: ["string", "number", "datetime", "boolean"] },
				less:             { value: "<",											type: "less",             nb_inputs: 1, multiple: false, apply_to: ["number", "datetime"] },
				less_or_equal:    { value: "<=",										type: "less_or_equal",    nb_inputs: 1, multiple: false, apply_to: ["number", "datetime"] },
				greater:          { value: ">",											type: "greater",          nb_inputs: 1, multiple: false, apply_to: ["number", "datetime"] },
				greater_or_equal: { value: ">=",										type: "greater_or_equal", nb_inputs: 1, multiple: false, apply_to: ["number", "datetime"] },
				between:          { value: "BETWEEN '' AND ''",			type: "between",          nb_inputs: 2, multiple: false, apply_to: ["number", "datetime"] },
				not_between:      { value: "NOT BETWEEN '' AND ''",	type: "not_between",      nb_inputs: 2, multiple: false, apply_to: ["number", "datetime"] },
			},
			finalQuery: null
		}
	},
	methods:{
		reciveGroup(content){
			// console.log(content);
			this.finalQuery = content
			
		},
		getData(){
			let app = this
			fetch('./json/data.json')
				.then( response => response.json() )
				.then( jsonData => {
					app.filters = jsonData.filters
				})
		}
	},
	created() {
		// this.getData()
	},
}
</script>

<style lang="sass">

</style>
