<template lang="pug">
	
	.app
		router-view

</template>

<script>

export default {
	name: 'app',
	components: {},
	data(){
		return{}
	},
	methods:{},
	computed:{},
	created(){},
	mounted(){}
}
</script>

<style lang="sass">

</style>
