.container
	width: 100vw
	height: 100vh
	display: flex
	justify-content: center
	align-items: center
	background-color: $lightest-gray

.query-builder
	font-size: 11px
	background-color: $white

	select,input[type="text"]
		padding: 5px
		height: calc(1.5em + 10px)
		font-size: 11px
		margin-bottom: 0
		border-color: $gray

	label
		margin-bottom: 0

.final-query
	padding: 5px

.rules__container

	> .rule-group
		&:after,&:before
			display: none


.rules__header
	display: flex
	justify-content: space-between
	margin-bottom: 5px

.rules__header__controls
	// display: flex


.btn-add
	background-color: $light-gray
	line-height: 1em
	padding: 5px
	margin-right: 5px

	&:last-child
		margin-right: 0

	&:active, &:focus
		background-color: $light-gray


.btn-condition
	padding: 5px
	background-color: $light-gray
	
	
	&:first-child
		border-top-right-radius: 0
		border-bottom-right-radius: 0

	&:last-child
		border-top-left-radius: 0
		border-bottom-left-radius: 0

	&:nth-child(2)
		border-left: 1px solid darken($color-brand, 10%)

	&:active, &:focus
		background-color: $light-gray
		outline: none


.btn-condition--selected
	background-color: $color-brand

	&:active, &:focus
		background-color: $color-brand
		outline: none

.btn-condition-desabled
	pointer-events: none

.btn-delete
	padding: 5px
	background-color: $red
	img
		+size(10px)

	&:hover
		background-color: darken($red,25%)























.rules__body
.rule__list
	padding-left: 20px

	.rule-group
		// background-color: rgba($black,.1)	
		border-radius: $base-border-radius
		border: 1px solid $gray


.rule
	display: flex
	justify-content: space-between
	align-items: center
	background-color: rgba($black,.1)
	padding: 5px
	border: 1px solid $gray
	border-radius: $base-border-radius

.rule__item
	position: relative
	margin-bottom: 5px

	&:before,&:after
		content: ""
		display: block
		border-left: 1px solid $gray

	&:before
		border-bottom: 1px solid $gray
		+position(absolute, -5px 100% 50% -10px)

	
	&:after
		+position(absolute, 50% 100% 0 -10px)

	&:last-child
		margin-bottom: 0

		&:after
			display: none

.rule-group__container
	padding: 5px

.rule-group

.rule__container
	display: flex
	> div
		margin-right: 5px

.rule__filter

.rule__operator

.rule__value
	display: flex
	align-items: center

.rule__value--radio
	display: flex
	align-items: center

	.radio-container
		display: flex
		margin-right: 5px

		&:last-child
			margin-right: 0



.rule__action
	justify-self: flex-end















.query-string,.strng
	display: flex
	align-items: center

.strng__rule
	padding: 5px
	background-color: $lightest-gray

.strng__group
	padding: 5px
	border: 1px solid $gray

.strng__condition
	padding: 5px