doctype html
html(lang='es')

	include _includes/pug/_head.pug

	body

		.container
			#app

		//- .query-builder
		//- 	.rules__container

		//- 		.rule-group
		//- 			.rule-group__container
		//- 				.rules__header
		//- 					.rules__header__controls
		//- 						button.btn-condition.btn-condition--selected AND
		//- 						button.btn-condition OR

		//- 					.rules__header__controls
		//- 						button.btn-add Add Rule
		//- 						button.btn-add Add Group
								
		//- 				.q__body
		//- 					.rule__list
		//- 						-for(var x = 0; x < 3; x++)
		//- 							.rule__item
		//- 								.rule
		//- 									.rule__container
		//- 										.rule__filter
		//- 											select
		//- 												-for(var i = 0; i < 3; i++)
		//- 													option option

		//- 										.rule__operator
		//- 											select
		//- 												-for(var i = 0; i < 3; i++)
		//- 													option option

		//- 										.rule__value
		//- 											input(type="text")

		//- 									.rule__action
		//- 										button.btn-delete Delete

		//- 						.rule__item
		//- 							.rule-group
		//- 								.rule-group__container
		//- 									.rules__header
		//- 										.rules__header__controls
		//- 											button.btn-condition.btn-condition--selected AND
		//- 											button.btn-condition OR

		//- 										.rules__header__controls
		//- 											button.btn-add Add Rule
		//- 											button.btn-add Add Group

		//- 									.rules__body
		//- 										.rule__list
		//- 											-for(var x = 0; x < 3; x++)
													
		//- 												.rule__item
		//- 													.rule
		//- 														.rule__container
		//- 															.rule__filter
		//- 																select
		//- 																	-for(var i = 0; i < 3; i++)
		//- 																		option option

		//- 															.rule__operator
		//- 																select
		//- 																	-for(var i = 0; i < 3; i++)
		//- 																		option option

		//- 															.rule__value
		//- 																input(type="text")

		//- 														.rule__action
		//- 															button.btn-delete Delete
							


				



		

		include _includes/pug/_scripts.pug
